<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: "Username" %> <br>
  <%= f.email_field :email, placeholder: "Email"%> <br>
  <%= f.text_field :location, placeholder: "Location" %><br>
  <%= f.text_field :bio, placeholder: "Bio: tell us about yourself." %><br>
  <%= f.text_field :github, placeholder: "Link to your Github" %><br>
  <%= f.text_field :linkedin, placeholder: "Linked In profile page" %><br>
  <%= f.text_field :job_title, placeholder: "Job Title" %><br>
  <%= f.text_field :stack, placeholder: "List your skills and specialties" %><br>
  <%= f.submit "Save Changes" %><br>
<% end %>
