<div class="container">
  <div class="row">
    <div class="text-center">     
        <h1>Edit Profile</h1>
    </div> 
    <div class="col-md-8 col-md-offset-2" id="edit-user-form"> 
      <%= form_for @user, :html => { :multipart => true } do |f| %>
        <%= f.text_field :first_name, placeholder: "First name", autofocus: true, class: "form-control" %><br>
        <%= f.text_field :last_name, placeholder: "Last name", class: "form-control"%><br>
        <%= f.text_field :username, placeholder: "Username", class: "form-control"%> <br>
        <%= f.email_field :email, placeholder: "Email", class: "form-control"%> <br>
        <%= f.text_field :location, placeholder: "Location", class: "form-control" %><br>
        <%= f.text_field :bio, placeholder: "Bio: tell us about yourself.", class: "form-control" %><br>
        <%= f.url_field :github, placeholder: "Link to your Github", class: "form-control" %><br>
        <%= f.url_field :linkedin, placeholder: "LinkedIn profile page", class: "form-control" %><br>
        <%= f.text_field :job_title, placeholder: "Job Title", class: "form-control" %><br>
        <%= f.text_field :stack, placeholder: "List your skills and specialties", class: "form-control" %><br>
        <%= f.file_field :avatar %><br>
        <%= f.submit "Save Changes", class: "btn btn-primary btn-block input-button"%><br>
      <% end %>
    </div>
  </div>
</div>