<div class="container">
  <div class="row">

    <div class="col-md-12 page-header">

      <h3>Developers</h3>

      <div class="btn-group sort-by">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Most Projects &nbsp <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>  
    </div>

    <% @users.order(:projects.length).limit(20).each do |user| %>

      <div class="col-md-6">

        <div class="developer-container">

          <div class="developer-avatar-container">
            <div class="developer-avatar" style="background-image: url(<%= user.avatar %>) ;"></div>
          </div>

          <div class="developer-info-container">
            <a href="/canopy-<%= user.username %>"><%= user.full_name %></a>
            <p><%= user.location %></p>
            <p><%= user.stack %></p>
            <p><%= user.projects.length %></p>
            <br>
          </div>

        </div>

      </div>

    <% end %>

  </div>
</div>





