<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h1>All Users</h1>
        <% @users.each do |user| %>
          <strong><%= user.username %></strong><br>
          <%= user.location %><br>
          <%= user.github %><br>
          <%= user.linkedin %><br>
          <%= user.bio %><br>
          <br>
        <% end %>
    </div>
  </div>
</div>
