<div class="container">
  <div class="row">

    <div class="col-md-3">

      <div class="profile-info">

        <div class="profile-avatar" style="background-image: url(<%= @user.avatar %>);">
        </div>

        <p class="profile-name text-center"><%= !@user.full_name || !@user.full_name.empty?  ? @user.full_name : 'No Name Listed' %></p>

        <p class="profile-location text-center"><%= !@user.location || !@user.location.empty? ? @user.location : 'No Location Listed' %></p>

        <div class="profile-info-container">
          <div class="project-info-item">
            <p class="profile-info-title"><span class="fa fa-envelope fa-fw profile-info-icon"></span> <strong class="profile-info-title-text"><%= !@user.email || !@user.email.empty?  ? @user.email : 'No Email Listed' %></strong></p>
          </div>

          <div class="project-info-item">
            <p class="profile-info-title"><span class="fa fa-calendar fa-fw profile-info-icon"></span> <strong class="profile-info-title-text">Member Since <%= @user.created_at.strftime("%b %Y") || 'User Was Not Created' %></strong></p>
          </div>

          <% if @user.github %>
            <div class="project-info-item">
              <p class="profile-info-title"><span class="fa fa-github fa-fw profile-info-icon"></span> <strong class="profile-info-title-text"><%= @user.github %></strong></p>
            </div>
          <% end %>

          <div class="project-info-item bio">
            <p class="profile-info-bio"><%= @user.bio %></p>
          </div>
        </div>

      </div>

      <% if current_user && current_user[:id] == @user.id %>
        <%= link_to "Edit Profile", edit_user_path(@user.username), class: "btn btn-default" %><br>
      <% end %>

    </div>

    <div class="col-md-9">

      <% if @user.projects.any? %>
        <% @user.projects.reverse_each do |project| %>
              <div class="col-xs-4 project-preview-container">
                <div class="project-preview-content">

                  <a href="/projects/<%= project.id %>"><div class="project-preview-image" style="background-image: url(<%= project.screenshot.url %>);"></div></a>
                  <div class="project-preview-info">
                    <a class="project-preview-title" href="/projects/<%= project.id %>"><%= project.title %></a>
                    <div class="project-preview-heart">
                      <% if current_user.liked_projects.include? project %>
                        <span class="glyphicon glyphicon-heart heart-selected" aria-hidden="true"></span><span class="like-project-text"></span>
                      <% else %>
                        <span class="glyphicon glyphicon-heart heart-unselected" aria-hidden="true"></span><span class="like-project-text"></span>
                      <% end %>
                      <% if project.users.length > 1 %>
                        <%= project.users.length %> Likes
                      <% elsif project.users.length < 1 %>
                        <%= project.users.length %> Likes
                      <% else %>
                        <%= project.users.length %> Like
                      <% end %>
                    </div>
                  </div>

                </div>
              </div>
          <% end %>
      <% else %>
        <p class="text-center">No projects yet :(</p>
      <% end %>

    </div>
  </div>
</div>
