<h1>Hello, <%= @user.username %></h1>
<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>
<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Primary email: <%= @user.email %></p>
<p>Member since: <%= @user.created_at %></p>
<p>Your home city: <%= @user.location %></p>
<p>Bio: <%= @user.bio %></p>

 <%= link_to "Edit my profile", edit_user_path(@user) %><br>
  <% if current_user.projects.any? %>
    <h3>My projects</h3>
    <% @user.projects.reverse.each do |project| %>
      <strong><%= project.title %></strong><br>
      <%= project.description %><br>
      <%= link_to "View", project_path(project) %><br>
      <br>
    <% end %>
  <% else %>
    <p>You don't have any projects yet.</p>
  <% end %>
