<!DOCTYPE html>
<html>
<head>
  
  <!-- bootstrap css cdn -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">

  <title>Snorkel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" > Snorkel</a>
        </div>
      <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <!-- button if user logs in -->
              <li><a href="/projects/new">New Project</a></li>
              <li><a href="/<%= current_user.username %>">Profile</a></li>
              <li><a href="/logout">Log out</a></li>
              
            <% else %>
              <!-- buttons to show if no user -->
              <li><a href="/signup">Sign up</a></li>
              <li><a href="/login">Log in</a></li>
            <% end %> 
          </ul>
        </div>
    </div>
  </nav> 
  <!-- end of navbar -->

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-notice'}" %>
<% end %>

<%= yield %>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- bootstrap js -->
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
